<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="3.5.8" targetFramework="net461" />
  <package id="ProductPriceWebservice.Client" version="2.0.26" targetFramework="net461" />
  <package id="RestSharp" version="105.2.1" targetFramework="net461" />
  <package id="Unity" version="2.0" targetFramework="net461" />
  <package id="WebServiceClientToolkit" version="0.1.60" targetFramework="net461" />
</packages>